<h1>Create New Task</h1>

<div class="container">
  <%= render 'errors' %>

  <%= form_with scope: :task, url: create_task_path, locale: true do |form| %>
    <div class="mb-3">
      <%= form.label :category_id, class: "form-label" %>
      <%= form.collection_select :category_id, current_user.categories.order(:name), :id, :name, {}, class: "form-control" %>
    </div>
  
    <%= render 'form', f: form %>
  <% end %>
</div>


<%= javascript_pack_tag 'form' %>