<div class="container show__view">
  <div class="row">
    <div class="col col-md-6 mt-5 mb-5"> 
      <h2 class="show__view__title"><%= @task.name %></h2>
      <p class="fst-italic">Category: <strong><%= @task_category %></strong></p>
      <p class="fst-italic">Due on: <strong><%= @task.due_date.to_formatted_s(:long) %></strong></p>
      <p class="fst-italic">
        <% if @task.details.nil? || @task.details.empty? %>
          <span class="text-muted">No other details added for this task</span>
        <% else %>
          Details:
          <strong><%= @task.details %></strong>
        <% end %>
      </p>
      <div>
        <%= link_to edit_category_task_path(@task.category_id, @task) do %>
          <i class="bi bi-pencil-square p-2" data-toggle="tooltip" data-placement="top" title="Edit task"></i>
        <% end %>
        <%= render "shared/delete_modal_task", task: @task %>
      </div>
    </div>

    <div class="col col-md-6 image__div">
      <div class="image__container">
        <%= image_tag "bg_image.png" %>
      </div>
    </div>
  </div>
</div>