<% if @categories.empty? %>
  <div class="container-fluid d-flex flex-column justify-content-around align-items-center pt-4">
    <h1 class="m-5 welcome__header">Hello, <%= current_user.first_name %>! This is your dashboard.</h1>
    <h2 class="m-5">Create your journal now.</h2>

    <div class= "container d-flex justify-content-center align-items-center">
      <div class="col col-sm-6 col-md-6 col-xl-4 p-3">
        <div class="card card-equal-height">
          <div class="card-body d-flex justify-content-center align-items-center text-center">
            <%= link_to new_category_path do %>
              <h1><i class="bi bi-plus-circle"></i></h1>
              <h2>Category</h2>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col col-sm-6 col-md-6 col-xl-4 p-3">
        <div class="card card-equal-height">
          <div class="card-body d-flex justify-content-center align-items-center text-center">
            <%= link_to new_task_path do %>
              <h1><i class="bi bi-plus-circle"></i></h1>
              <h2>Task</h2>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

<% else %>
  <div class="container-fluid d-flex flex-column flex-md-row justify-content-md-around  mt-5">
    <div class= "col col-md-3" >
        <div class="container-fluid mb-5">
          <h1 class="mb-5 date__display"><%= Date.current.to_formatted_s(:long) %></h1>
          <h2 class="mb-3 title__priority">Tasks for today</h2>
          <ul class="list-group">
          <% if @tasks_today.any? %>
            <% @tasks_today.each do |task| %>
              <li class="list-group-item d-flex">
                <%= task.name %>
                <%= render 'shared/modify_task', task: task %>
              </li>
            <% end %>
          <% else %>
            <li class="list-group-item text-muted">No task scheduled for today.</li>
          <% end %>
          </ul>
        </div>
    </div>

    <div class="col col-md-7">

      <div class= "container-fluid mb-5" >
        <h2 class="mb-3">Tasks group</h2>
        <div class="row d-flex justify-content-around justify-content-md-start">
          <% @categories.each do |category| %>
            <div class="col-sm-6 col-md-6 col-xl-4 p-3">
              <div class="card card-equal-height">
                <div class="card-body">
                  <h3 class="card-title"><%= category.name %></h3>
                  <div class="card__task">
                    <% category.tasks.each do |task| %>
                      <div class="d-flex justify-content-between mb-1 border-bottom border-secondary">
                        <h6 class="card-text mb-0"><%= task.name %></h6>
                        <p class="card-text mb-0"><%= task.due_date.to_formatted_s(:short) %></p>
                      </div>
                    <% end %>
                      <%= link_to new_category_task_path(category) do %>
                        New task
                        <i class="bi bi-plus-circle"></i>
                      <% end %>
                  </div>

                  <%= render 'shared/modify_category', category: category %>
                </div>
              </div>
            </div>
          <% end %>

          <div class="col-sm-6 col-md-6 col-xl-4 p-3">
            <div class="card card-equal-height">
              <div class="card-body d-flex justify-content-center align-items-center text-center">
                <%= link_to new_category_path do %>
                  <h1><i class="bi bi-plus-circle"></i></h1>
                  <h4>Category</h4>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class= "container-fluid mb-5" >
        <h2 class="mb-3">Upcoming Tasks</h2>
        <ul class="list-group">
          <% if @tasks_upcoming.any? %>
            <% @tasks_upcoming.each do |task| %>
              <li class="list-group-item p-3 d-flex justify-content-between align-items-center mb-1">
                <div class="col col-8">
                  <h4 class="mb-0"><%= task.name %></h4>
                  <p class="mb-0"><%= task.due_date.to_formatted_s(:short) %></p>
                </div>
                <%= render "/shared/modify_task", task: task %>
            </li>
            <% end %>
          <% else %>
            <li class="list-group-item p-3 d-flex justify-content-between align-items-center mb-1">
                <div class="col col-8 d-flex align-items-center">
                  <p class="mb-0 text-muted">No upcoming task.</p>
                  <%= link_to new_task_path, class: "nav-link" do%>
                    <i class="bi bi-plus-circle"></i></h1>
                    Add task now.
                  <% end %>
                </div>
            </li>
          <% end %>
        </ul>
      </div>


    </div>
  </div>
<% end %>

